a) Look for the missing values in all the columns and either impute them (replace with mean, median, or mode) or drop them. Justify your action for this task.

In [172]:


import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Lohi28/google-colab/refs/heads/main/dataset/train.csv')
print(df.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage   Engine  \
0              41000    Diesel       Manual      First  19.67 kmpl  1582 CC
1              46000    Petrol       Manual      First    13 km/kg  1199 CC
2              87000    Diesel       Manual      First  20.77 kmpl  1248 CC
3              40670    Diesel    Automatic     Second   15.2 kmpl  1968 CC
4              86999    Diesel       Manual      First  23.08 kmpl  1461 CC

       Power  Seats  New_Price  Price
0  126.2 bhp    5.0        NaN  12.50
1   88.7 bhp    5.0  8.61 Lakh   4.50
2  88.76 bhp    7.0        NaN   6.00
3  140.8 bhp    5.0        NaN  17.74
4   63.1 bhp    5.0        NaN   3.50

In [173]:



#Check the missing values
print(df.isnull().sum())

# Drop 'New_Price' due to high number of missing values
df.drop('New_Price', axis=1, inplace=True)


# Convert 'Mileage' to numeric, handling errors
df['Mileage'] = pd.to_numeric(df['Mileage'].str.replace('[^0-9.]', '', regex=True), errors='coerce')
# Impute missing values for 'Mileage' with the mean
df['Mileage'].fillna(df['Mileage'].mean(), inplace=True)

# Convert 'Engine' to numeric, handling errors
df['Engine'] = pd.to_numeric(df['Engine'].str.replace('[^0-9.]', '', regex=True), errors='coerce')
# Impute missing values for 'Engine' with the median
df['Engine'].fillna(df['Engine'].median(), inplace=True)

# Convert 'Power' to numeric, handling errors
df['Power'] = pd.to_numeric(df['Power'].str.replace('[^0-9.]', '', regex=True), errors='coerce')
# Impute missing values for 'Power' with the median
df['Power'].fillna(df['Power'].median(), inplace=True)

# Impute missing values for 'Seats' with the mode
df['Seats'].fillna(df['Seats'].mode()[0], inplace=True)

#Check the missing values after imputation
print(df.isnull().sum())

#Save the updated dataframe to a CSV file.
df.to_csv('clean_train.csv', index=False)

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64
Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

<ipython-input-173-349c2cc9ebe7>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Mileage'].fillna(df['Mileage'].mean(), inplace=True)
<ipython-input-173-349c2cc9ebe7>:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Engine'].fillna(df['Engine'].median(), inplace=True)
<ipython-input-173-349c2cc9ebe7>:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Power'].fillna(df['Power'].median(), inplace=True)
<ipython-input-173-349c2cc9ebe7>:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Seats'].fillna(df['Seats'].mode()[0], inplace=True)

b) Remove the units from some of the attributes and only keep the numerical values (for
example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from
“New_price”).

In [174]:


import pandas as pd


def remove_units(value):
    if isinstance(value, str):
        value = value.replace('kmpl', '').replace('CC', '').replace('bhp', '').replace('lakh', '')
        try:
            return float(value)
        except ValueError:
            return value  # Handle cases where conversion fails (e.g., non-numeric strings)
    return value


for col in ['Mileage', 'Engine', 'Power']:
    df[col] = df[col].apply(remove_units)

# Save the modified DataFrame to a CSV file
df.to_csv('removingUnits_train.csv', index=False)

C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot
encoded value.

In [175]:


import pandas as pd
import numpy as np

df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'], drop_first=True)

print("\nDataframe after one-hot encoding:")
print(df.head())

#Save the DataFrame to a CSV file
df.to_csv('onehot_encode_car_data.csv', index=False)

Dataframe after one-hot encoding:
   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual
0               False             False                 True
1               False              True                 True
2               False             False                 True
3               False             False                False
4               False             False                 True

d) Create one more feature and add this column to the dataset (you can use mutate function in
R for this). For example, you can calculate the current age of the car by subtracting “Year” value
from the current year.

In [176]:

current_year = 2023  # You can update this to the current year
df['Car_Age'] = current_year - df['Year']

print("\nDataframe after adding Car_Age:")
print(df.head())

#Save the DataFrame to a CSV file
df.to_csv('processed_new_car_data.csv', index=False)

Dataframe after adding Car_Age:
   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  Car_Age
0               False             False                 True        8
1               False              True                 True       12
2               False             False                 True       11
3               False             False                False       10
4               False             False                 True       10

e) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or
their equivalent operations in python) on this dataset.

In [177]:

# Select specific columns
selected_columns = ['Name', 'Location', 'Year', 'Kilometers_Driven', 'Owner_Type', 'Price', 'Car_Age']
df_selected = df[selected_columns]

# Filter data (e.g., cars with more than 50,000 km driven and price below 10 lakh)
df_filtered = df_selected[(df_selected['Kilometers_Driven'] > 50000) & (df_selected['Price'] < 10)]

# Rename columns
df_renamed = df_filtered.rename(columns={'Kilometers_Driven': 'KM_Driven'})


# Mutate (create a new column based on existing ones)
# Example: Calculate price per kilometer driven
df_mutated = df_renamed.assign(Price_per_KM = df_renamed['Price'] / df_renamed['KM_Driven'])


# Arrange (sort) the data
df_arranged = df_mutated.sort_values(by=['Car_Age', 'Price'], ascending=[False, True])

# Summarize with group by
df_summarized = df_arranged.groupby('Location')['Price'].agg(['mean', 'median', 'count'])


# Save the modified DataFrame to a CSV file
df_summarized.to_csv('processed_car_data.csv', index=True) #index=True to keep the location as the index

print("\nSummarized data:")
print(df_summarized)

print("\nDataFrame saved to processed_car_data.csv")

Summarized data:
                mean  median  count
Location
Ahmedabad   4.807300   4.350    100
Bangalore   5.020704   4.725    142
Chennai     3.913208   3.500    265
Coimbatore  5.837531   5.675    162
Delhi       4.359296   3.995    270
Hyderabad   4.671218   4.395    394
Jaipur      3.852852   3.825    256
Kochi       5.426289   5.425    194
Kolkata     4.003364   3.475    110
Mumbai      4.451556   4.000    225
Pune        3.789630   3.365    324

DataFrame saved to processed_car_data.csv